{% extends 'FabLabBundle::base_fablab.html.twig' %}

{% block body %}
<div class="container">
      <h2>Metrics</h2>
      <a href="#">Adhérents <span class="badge">{{nb_adherents}}</span></a><br>
</div>

{% endblock %}
